@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color: hsl(0, 0%, 8%);
    --hover: hsl(0, 0%, 15%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

nav .title {
    font-size: 3rem;
    font-weight: 700;
    transform: skewX(-8deg);
}

nav {
    width: 100%;
    z-index: 2;
    position: sticky;
    top: 0;
    padding: 0 3rem;
    height: 12vh;
    background-color: var(--color);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    padding: 0.75rem 1.5rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 1.5rem;
    text-decoration: none;
    transition: all 200ms;
}

.links a:hover {
    background-color: var(--hover);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card {
    z-index: 0;
    color: white;

    background-image: url("./res/codebackground.jpg");
    background-size: cover;

    min-height: 100vh;
    width: 100%;
}

.backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-shadow: 0 0 1rem black;
    width: 100%;
    height: 100vh;
}

.title-card h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.title-card hr {
    width: 20%;
}

.title-card p {
    width: 60%;
    font-size: 1.5rem;
    text-align: center;
}

#mission p, #methods > p {
    font-size: 1.5rem;
    width: 50%;
    line-height: 2.25rem;
    text-align: justify;
}

#mission,
#methods,
#info {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
}

#mission h1,
#methods h1,
#info h1 {
    font-size: 5rem;
}

#info li {
    font-size: 1.5rem;
    max-width: 50vw;
    line-height: 2rem;
}

.grid {
    gap: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.25rem black;
}

.card header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 1rem;
    width: 100%;
    background-color: black;
    padding: 1.5rem;
}

.card p {
    text-align: justify;
    font-size: 1.5rem;
    padding: 3rem;
    line-height: 2.25rem;
}

.card h1 {
    font-size: 3rem !important;
    text-align: center;
    align-self: center;
    filter: invert(100%);
}

.card img {
    width: 100px;
    filter: invert(100%);
}

#info ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

footer {
    height: 3rem;
    background-color: var(--color);
    width: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    margin-top: 7rem;
}

#alt {
    background-color: green;
}
